<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List of Races</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"
	th:href="@{../css/bootstrap.min.css}" />
</head>
<body>

	<nav style="background-color: gray; padding: 0px 5px 0px 5px;">
		<a href="/index" class="btn btn-success">Main Page</a>
		<a href="/charlist" class="btn btn-success">Character List</a>
		<a href="/racelist" class="btn btn-success">Race List</a>
		<a href="/armorlist" class="btn btn-success">Armor List</a>	
		<a href="/addownrace" class="btn btn-primary">New Race</a>	
		<div style="float: right;">
			<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger" />
			</form>
		</div>
	</nav>
	
	<h1 style="padding: 5px">List of Races</h1>
		
		<table class="table table-striped">
		
			<tr>
				<th>Name</th>
				<th>Strength Buff</th>
				<th>Dexterity Buff</th>
				<th>Constitution Buff</th>
				<th>Wisdom Buff</th>
				<th>Intelligence Buff</th>
				<th>Charisma Buff</th>
				<th>Mainhand DMG</th>
				<th>Offhand DMG</th>
				<th>Basic Armor</th>
			</tr>
			
			<tr th:each="race : ${races}">
				<td th:text="${race.name}">name</td>
				<td th:text="${race.buffStr}">str</td>
				<td th:text="${race.buffDex}">dex</td>
				<td th:text="${race.buffCon}">con</td>
				<td th:text="${race.buffWis}">wis</td>
				<td th:text="${race.buffInte}">inte</td>
				<td th:text="${race.buffCha}">cha</td>
				<td th:text="${race.mainBasicDamage}">attack</td>
				<td th:text="${race.offBasicDamage}">defense</td>
				<td th:text="${race.basicArmor}">armor</td>
				<td><a th:href="@{/editrace/{id}(id=${race.id})}" class="btn btn-outline-success">Edit</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-outline-danger" th:href="@{/deleterace/{id}(id=${race.id})}">Delete</a></td>
			</tr>
		
		</table>

</body>
</html>